/* ------------------- */
/* base
/* ------------------- */
html{
    font-size:  62.5%;
}
body{
    font-size: 1.6rem;
    letter-spacing: .05px;
    color: #333333;
    font-family:'Montserrat', 'Noto Sans JP', sans-serif;
    margine: 0 important!;
    padding: 0; 
}
img {
    width: 100%;
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.section-wrapper{
    padding: 60px 0;
    /* background-color: aliceblue; */
}

.content-wrapper{
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
}
.section-inner{
    padding: 0 30px;
}
.section-title{
    font-size: 5rem;
    font-weight: bold;
    /* margin-bottom: 10px; */
    text-align: center;
    font-style: italic;
    position: relative;
    z-index: 2;
    opacity: .8;
}
.section-lead{
    text-align: center;
    font-size: 7rem;
    /* margin-bottom: 60px; */
    font-weight: bold;
    line-height: 1;
    color: lightgray;
    transform: translate(0, -70px);
    opacity: .8;
    z-index: 1;
    letter-spacing: 2rem;
}
.section-text-wrapper{
    text-align: center;
    transform: translate(0, -40px);
}
.section-text{
    font-size: 2rem;
    line-height: 3
;
}
.link-btn{
    display: block;
    width: 235px;
    line-height: 60px;
    margin: 0 auto 70px;
    background-color: rgb(101, 176, 247);
    box-shadow: 0 0 6px #1B1310;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;                /* なんのため？ */
}

/* ------------------- */
/* header
/* ------------------- */
.header{
    padding: 20px 30px;
    position: absolute;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* width: 100%; */
    margin: 0 auto;
}
.header a{
    color: #fff;
    /* color: black; */
    text-decoration: none;
    transition: .3s;
    font-weight: bold;
    font-style: italic;
}
.header a:hover{
    opacity: .7;
    transition: .3s;
}
.site-title{
    font-size: 2.6rem;
}
.nav-list{
    display: flex;
}
.nav-item{
    margin-right: 30px;
}
.nav-item:last-of-type{
    margin-right: 0;              /*最後のやつにはmarginがつかない*/
}
.burger-btn{
    display: none;
}
.header.fixed{
    position: fixed;
    /* background-color: #282F35; */
    padding: 30px;
    width: 100%;
    transition: .3s;
}
.header.fixed{
    position: fixed;
    /* background-color: #282F35; */
    background-color: rgba(34,34,34,.9);
    padding: 30px;
    width: 100%;
    transition: .3s;
}

/* ------------------- */
/* fv
/* ------------------- */
.fv{
    height: 100vh;
    min-height: 550px;
    position: relative;
    background-image: url(https://github.com/shinyakt/portfolio/blob/main/img/fv-img.jpg?raw=true);  /*スライダー画像を追加したので削除*/
    background-size: cover;
    background-position: center;
}
.main-copy{
    /* position: absolute; */
    /* left: 120px; */
    /* bottom: 177px; */
    /* color: #fff; */
    text-align: center;
    margin-top: 280px;
    /* color: black; */
    color: aliceblue;
    font-weight: bold;
}
.en-copy{
    font-size: 7rem;
    margin-bottom: 31px;
}
.jp-copy{
    font-size: 4rem;
    /* text-align: center; */
}

/* ------------------- */
/* about
/* ------------------- */
.about-bg{
    background-image: url(https://github.com/shinyakt/portfolio/blob/main/img/about-bg-img.jpg?raw=true);
    background-size: cover;
    padding: 0;
}
.about-bg-color{
    background-color: rgba(250, 250, 250, 0.8);
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ------------------- */
/* works
/* ------------------- */
.section-wrapper.works{
    background-color: aliceblue;
}
.section-inner.works{
    max-width: 1200px;
    margin: 0 auto;
}
.works-list{
    display: flex;
    margin-bottom: 60px;
}
.works-item{
    width: 33%;
    margin-right: 20px;
    box-sizing: border-box;
}
.works-item:last-of-type{
    margin-right: 0;
}
.works-item-title{
    text-align: center;
}
.works-item a{
    /* color: #fff; */
    color: black;
    text-decoration: none;
    transition: .3s;
}

/* ------------------- */
/* skill
/* ------------------- */
.section-wrapper.skill{
    background-color: aliceblue;
}
.skill-list-content{
    max-width: 1200px;
    margin: 0 auto;
}
.skill-list{
    width: 100%;
}
.skill-item{
    display: flex;
    margin-bottom: 30px;
}
.skill-item:last-of-type{
    margin-bottom: 0;
}
.skill-item-img-wrapper{
    max-width: 100px;
    margin-right: 20px;
}
.skill-img{
    width: 100%;
    object-fit: contain;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid #897777;
    border-radius: 30px;
}
.skill-item-content-text{
    font-weight: normal;
}
.skill-item-content-name{
    font-size: 2.5rem;
    /* font-weight: bold; */
    display: inline-block;
    border-bottom: black 2px solid;
    margin-bottom: 20px;
}

/* ------------------- */
/* contact
/* ------------------- */
.section-wrapper.contact{
    /* background-color: whitesmoke; */
}
.contact-bg{
    background-image: url(https://github.com/shinyakt/portfolio/blob/main/img/fv-img.jpg?raw=true);
    background-size: cover;
    background-position: center;
    padding: 0;
}
.contact-bg-color{
    background-color: rgba(250, 250, 250, 0.8);
    padding-top: 60px;
    padding-bottom: 60px;
    height: 90vh;
    box-sizing: border-box;
}
.section-text.contact{
    margin: 100px 0;
}


/* ------------------- */
/* footer
/* ------------------- */
.footer{
    padding: 30px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background-color: #333333;
}


@media screen and (max-width:768px){
/* ------------------- */
/* base_tb
/* ------------------- */
.section-wrapper{
    padding: 100px 0 40px;
}
.section-title{
    padding: 0 4vw;      /*スマホ用にオススメの設定*/
    font-size: 3rem;
    margin-bottom: 50px;
}
.section-title::after{
    width: 90px;
}
.section-inner{
    padding: 0 4vw;
}
.section-lead{
    font-size: 5rem;
    transform: translate(0, -90px);
    letter-spacing: .5rem;
}
.section-bottom{
font-size: 4rem;
padding: 4vw;
}
.link-btn{
    margin-bottom: 40px;
}

/* ------------------- */
/* header_tb
/* ------------------- */
.header-nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(34,34,34,.95);  /*透過*/
}
.nav-list{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin: 0 0 60px;
}
.nav-item:last-of-type{
    margin-bottom: 0;
}
.header a {
    color: #fff;
    font-size: 2rem;
}
.burger-btn{
    display: block;
    position: absolute;
    top: 30px;
    right: 4vw;
}
.burger-btn .bar{
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
    transition: .3s;          /*ハンバーガーボタンの動きを滑らかにする*/
}
.bar_top,
.bar_mid{
    margin-bottom: 8px;
}
.burger-btn.cross .bar_top{
    transform: rotate(45deg) translate(8px,8px);
    transition: .3s;            /*ハンバーガーボタンの動きを滑らかにする*/
}
.burger-btn.cross .bar_mid{
    opacity: 0;
    transition: .3s;            /*ハンバーガーボタンの動きを滑らかにする*/
}
.burger-btn.cross .bar_bottom{
    transform: rotate(-45deg) translate(8px,-8px);
    transition: .3s;            /*ハンバーガーボタンの動きを滑らかにする*/
}
body.noscroll{
    overflow: hidden;    /*スクロールの固定*/
}

button{                   /*ハンバーガー用ボタンタグのリセット*/
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
button:hover{                     /*クリックしないと変わらない？？*/
    opacity: .7;
    transition: .3s;
}

/* ------------------- */
/* fv_tb
/* ------------------- */
.fv{
    background-position: left;
}
.main-copy{
    margin-top: 180px;
    padding: 0 4vw;
}
.en-copy{
    font-size: 5rem;
}
.jp-copy{
    font-size: 3rem;
}

/* ------------------- */
/* about_tb
/* ------------------- */
.section-wrapper.about-bg{
    padding: 0;
}
.section-inner.about-bg-color{
    padding: 60px 4vw;
}


/* ------------------- */
/* works_tb
/* ------------------- */


/* ------------------- */
/* skill_tb
/* ------------------- */
.skill-item-img-wrapper {
    max-width: 60px;
    margin-right: 20px;
}
.skill-img{
    width: 100%;
    object-fit: contain;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid #897777;
    border-radius: 20px;
}
.skill-item-content{
    /* text-align: center; */
}


/* ------------------- */
/* contact_tb
/* ------------------- */
.contact-bg{
    background-position: left;
}
.section-wrapper.contact-bg{
    padding: 0;
}
.section-inner.contact-bg-color{
    padding: 60px 4vw;
}


}


@media screen and (max-width: 480px){
/* ------------------- */
/* base_tb
/* ------------------- */
.section-wrapper{
    padding-top: 30px;
}

/* ------------------- */
/* about_sp
/* ------------------- */
.section-text-wrapper.about{
    text-align: left;
}
.section-text{
    line-height: 2;
}

/* ------------------- */
/* works_sp
/* ------------------- */
.works-list{
    flex-direction: column;
}
.works-item{
    width: 100%;
    margin: 0 0 50px 0;
}
.works-item:last-of-type{
    margin-bottom: 0;
}


}
